batch1/src/main/mule/batch1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a08beb26-ce8f-4f70-bc74-a044af2f95e5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="batch1Flow" doc:id="14ce8fd8-593e-4eaa-9df2-c8d0c4612d5a" >
		<http:listener doc:name="Listener" doc:id="332f9d31-c138-42c8-a032-f1ac172f4e15" config-ref="HTTP_Listener_config" path="/batch1"/>
		<set-payload value='#[[1,2,3,"a",4,"b",5,6]]' doc:name='[1,2,3,"a",4,"b",5,6]' doc:id="95eb1237-a035-4fe0-8aab-a46f03001728" />
		<batch:job jobName="batch1Batch_Job" doc:id="aa0266a0-0964-4378-bf31-446ff40daddf" maxFailedRecords="10">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="012ec46c-eae8-4544-bcfb-aefc1c501836" acceptPolicy="ALL">
					<set-payload value="#[payload * 10]" doc:name="payload *10" doc:id="e725236f-8b1b-47a1-96fb-b5749f521800" />
					<batch:aggregator doc:name="Batch Aggregator" doc:id="ccd6bb14-eb81-44e7-939c-dda4fda172a2" size="2">
						<logger level="INFO" doc:name="Logger" doc:id="e4f58d5d-569e-4bf5-985c-dcb1bbe04aa3" message='#[payload]'/>
					</batch:aggregator>
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="2f350b2f-2f4a-4de6-abe3-e9c9cfc55074" acceptPolicy="ONLY_FAILURES">
					<logger level="INFO" doc:name="Logger" doc:id="8d471721-aa18-41ca-871e-9849f5b966b4" message="#[payload]"/>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="47e239be-48c0-4d16-b3c1-0aa102d9eaf6" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
